body {   
    background-color: chocolate; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;     
}

#canvas1 {    
    background: url("assets/blue_bricks800X600.jpg");       
}
#button {
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
